<div class="container" *ngIf="calendario">
    <div class="row">
        <div class="col-12">

            <div class="text-center">
                <h2>{{calendario.periodo.nombre}}</h2>

                <div class="row justify-content-center">
                    <button class="btn btn-dark btn-sm" routerLink="/calendario/detalle-add/{{calendario.id}}">
                        Agregar Eventos Al Calendario
                    </button>
                    <button class="btn btn-info btn-sm">
                        <a class="text-decoration-none text-white"
                            href="http://35.192.7.211:8000/calendario/reporte-tabla/{{calendario.id}}" target="_blank">
                            Generar Reporte
                        </a>
                    </button>
                </div>

            </div>

            <full-calendar id="mycalendar" defaultView="dayGridMonth" [plugins]="calendarPlugins"
                [events]="calendarEvents" (drop)="select($event)">
            </full-calendar>


        </div>
    </div>
</div>