<app-nav-bar></app-nav-bar>
<!--The content below is only a placeholder and can be replaced.-->

<div class="container my-5">

    <div class="row justify-content-end">

        <div class="col-11">

            <h1 class="display-4">CALENDARIO</h1>

            <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [events]="
              [   { title: 'PRUEBA DE CALENDARIO', date: '2019-09-08' },
                  { title: 'primera prueba funcional', date: '2019-09-13' },
                  { title: 'primera prueba funcional', date: '2019-09-13' },
                  { title: 'primera prueba funcional', date: '2019-09-13' }
                ]">
            </full-calendar>


        </div>

    </div>

</div>