<app-nav-bar></app-nav-bar>
<!--The content below is only a placeholder and can be replaced.-->

<div class="container my-5">

    <div class="row justify-content-end">

        <div class="col-11">

            <h1 class="display-4">CALENDARIO</h1>

            <!--             <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [events]="
              [ 
              { title: 'PRUEBA DE CALENDARIO1', start: '2019-09-26', end: '2019-09-26', color:'#cb3234'},
        { title: 'PRUEBA DE CALENDARIO2', start: '2019-09-26', end: '2019-09-28', color:'#FFFF00'},
        { title: 'PRUEBA DE CALENDARIO3', start: '2019-09-26', end: '2019-10-28', color:'#66FF00'}
                ]">
            </full-calendar> -->
            <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [events]="calendarEvents">
            </full-calendar>


        </div>

    </div>

</div>