<div class="container">

  <h1 class="display-4 text-center mt-4">FICHA DE SALUD</h1>

  <ng-container *ngIf="ficha; else cargando">

    <div *ngIf="false" class="row justify-content-center my-5">
      <div class="col py-3 border border-dark">
        <div class="text-justify">
          <h6>
            1. Sr./Srta. estudiante, LEA detenidamente el formulario y complete TODOS los casilleros con la
            información solicitada.
          </h6>
          <h6>
            2. Los datos obtenidos en este documento son OBLIGATORIOS para los estudiantes y de carácter
            CONFIDENCIAL.
          </h6>
        </div>
      </div>
    </div>


    <form class="border" #form="ngForm">

      <div *ngFor="let seccion of ficha" class="card border border-dark mb-5">

        <div *ngIf="seccion.posicion == 11" class="card-header text-center bg-ista">
          <h3 class="font-weight-light">{{seccion.posicion}}. {{seccion.nombre}}</h3>
        </div>
        <!--TITULO DE LA SECCION-->

        <div class="card-body" *ngIf="seccion.posicion == 11">
          <div class="form-group" *ngFor="let pregunta of seccion.preguntafsSet">
            <!--FOR DE LAS PREGUNTAS-->

            <ng-container *ngIf="pregunta.posicion == 45" class="form-group" [ngSwitch]="pregunta.tipo | lowercase">


              <label [for]="pregunta.titulo">{{pregunta.posicion}}. {{pregunta.titulo}}

                <strong class="text-danger" *ngIf="pregunta.required">
                  (OBLIGATORIA)
                </strong>
                <small id="helpId" class="form-text help-text pl-3">{{pregunta.ayuda}}</small>

              </label>
              <!-- TITULO DE LA PREGUNTA-->

              <div *ngSwitchCase="'checkbox'">

                <div class="custom-control custom-checkbox" *ngFor="let parametro of pregunta.parametros">

                  <input
                    type="checkbox"
                    [name]="parametro.titulo"
                    [checked]="parametro.check"
                    (change)="check(pregunta,parametro, $event.target)"
                  >
                  <label class="pl-1 input-check-ficha" [for]="parametro.titulo">{{parametro.titulo}}</label>

                </div>
                <form class="form-inline ">
                  <input class="form-control form-control-sm" type="text" minlength="2" placeholder="Agregar Otro"
                         #nuevoIn>
                  <button class="btn btn-ista btn-sm" (click)="agregarNuevo(pregunta, nuevoIn)">Agregar Otro</button>
                </form>
              </div>
              <!--RESPUESTAS DE SELECCION MULTIPLE-->


              <div *ngSwitchCase="'select'">
                <select
                  class="form-control form-control-sm select-120px "
                  [name]="pregunta.titulo"
                  [id]="pregunta.id"
                  [(ngModel)]="pregunta.respuestaPersona['select']['id']"
                  [required]="pregunta.required"
                  (change)="select(pregunta, $event.target)"
                >
                  <option [value]="parametro.id" *ngFor="let parametro of pregunta.parametros">
                    {{parametro.titulo}}
                  </option>

                </select>
              </div>
              <!--RESPUESTA EN COMBO BOX-->


              <div *ngSwitchCase="'month'">
                <input
                  class="form-control form-control-sm select-120px "
                  type="number"
                  [name]="pregunta.titulo"
                  [id]="pregunta.id" [min]="pregunta.min"
                  [max]="pregunta.max"
                  [step]="pregunta.step"
                  [value]="pregunta.respuestaPersona['simple']"
                  (change)="simple(pregunta,$event.target)"
                >
              </div>
              <!--RESPUESTA MES -->


              <div *ngSwitchCase="'number'">
                <input
                  class="form-control form-control-sm select-120px "
                  type="number"
                  [id]="pregunta.id"
                  [min]="pregunta.min"
                  [max]="pregunta.max"
                  [step]="pregunta.step"
                  [value]="pregunta.respuestaPersona['simple']"
                  (change)="simple(pregunta,$event.target)"
                >
              </div>
              <!--RESPUESTA NUMERO -->


              <div *ngSwitchCase="'text'">
                <input
                  class="form-control form-control-sm "
                  type="text"
                  [minLength]="pregunta.min"
                  [maxLength]="pregunta.max || 10"
                  [id]="pregunta.id"
                  [pattern]="pregunta.regex"
                  [disabled]="pregunta.dependeDe.respuestaPersona['select']['titulo'] == 'NO'"
                  [value]="pregunta.respuestaPersona['simple']"
                  (change)="simple(pregunta,$event.target)"
                >
              </div>
              <!--INPUT PREGUNTA DE TIPO TEXTO-->

              <div *ngSwitchCase="'text_area'">
                <textarea
                  class="form-control "
                  [name]="pregunta.titulo"
                  rows="2"
                  [value]="pregunta.respuestaPersona['simple']"
                  (change)="simple(pregunta,$event.target)"
                ></textarea>
              </div>
              <!--INPUT PREGUNTA DE TIPO TEXTO-GRANDE-->


              <div *ngSwitchCase="'diagnostico'">
                <table class="table table-sm text-center table-bordered table-responsive-sm">
                  <thead class="bg-ista">
                  <tr>
                    <th scope="col">Parentesco</th>
                    <th scope="col">Medicacion</th>
                    <th scope="col">Eliminar</th>
                    <th scope="col">Editar</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let diagnostico of pregunta.respuestaPersona['diagnosticos']">
                    <td>
                      {{diagnostico.parentesco}}
                    </td>

                    <td>
                      {{diagnostico.medicacion}}
                    </td>

                    <td>
                      <button class="btn btn-danger btn-sm" (click)="eliminarDiagnostico(pregunta,diagnostico)">
                        Eliminar
                      </button>
                    </td>

                    <td>
                      <button class="btn btn-ista btn-sm" data-toggle="modal" data-target="#modelId"
                              (click)="abrirModal('upt',pregunta,diagnostico)">
                        Editar
                      </button>
                    </td>

                  </tr>
                  </tbody>
                </table>

                <div class="text-center">

                  <button type="button" class="btn btn-ista btn-sm" data-toggle="modal" data-target="#modelId"
                          (click)="abrirModal('add',pregunta)">
                    Agregar Nuevo Diagnostico
                  </button>
                </div>


              </div>


            </ng-container>
            <!--SWICHT CASE DE LOS TIPOS DE PREGUNTA-->

          </div>
        </div>
        <!--CONTENIDO DE LA SECCION-->

      </div>
      <!--DIV SECCIONES DE LA FICHA-->

      <div class="text-center my-4">
        <button class="btn btn-success" [disabled]="form.invalid">Guardar y Confirmar</button>
      </div>
    </form>


  </ng-container>
  <!--VALIDACION DE LA CARGA DE LA INFORMACION-->

  <ng-template #cargando>
    <loading [info]="{description:'POR FAVOR ESPERE'}"></loading>
  </ng-template>
</div>
<!--CONTAINER-->


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dianostico Familiar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form #formDiagnostico="ngForm">

          <div class="form-group">
            <label for="parentescoIn">Parentesco:</label>
            <input required type="text"
                   name="parentescoIn"
                   id="parentescoIn"
                   class="form-control form-control-sm"
                   placeholder="Parentesco"
                   aria-describedby="helpId"
                   minlength="3"
                   [(ngModel)]="diagnostico.parentesco">
            <small id="helpId" class="text-muted">Parentesco del Familiar</small>
          </div>

          <div class="form-group">
            <label for="diagnosticoIn">Diagnostico:</label>
            <textarea
              required
              class="form-control form-control-sm"
              rows="3"
              name="diagnosticoIn"
              id="diagnosticoIn"
              placeholder="Describa el diagnostico"
              [(ngModel)]="diagnostico.diagnostico"
            ></textarea>
            <!--<small id="helpId" class="text-muted">Parentesco del Familiar</small>-->
          </div>

          <div class="form-group">
            <label for="selectIn">Medicacion</label>
            <select class="custom-select custom-select-sm" id="selectIn" name="" [value]="diagnostico.medicacion">
              <option value="SI">SI</option>
              <option value="NO">NO</option>
            </select>
          </div>


        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
        <button
          type="button"
          class="btn btn-ista  btn-sm"
          data-dismiss="modal"
          [disabled]="formDiagnostico.invalid"
          (click)="guardarDiagnostico()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>


