<h6>{{detalle.pregunta.numero}}. {{detalle.pregunta.titulo}}</h6>

<div *ngIf="detalle.pregunta.tipoRespuesta.extra == 'CHECK'">

    <div class="my-3">

        <div class="form-group">

            <div class="ml-4" *ngFor="let parametro of detalle.pregunta.tipoRespuesta.parametroSet">

                <small id="helpId" class="form-check">
                    <input type="checkbox" class="form-check-input" id="{{parametro.id}}"
                        (change)="check($event.target.checked, parametro)" [checked]="parametro.checked"
                        [required]="detalle.pregunta.required">
                    {{parametro.descripcion}}
                </small>



            </div>


        </div>

    </div>

</div>

<div *ngIf="detalle.pregunta.tipoRespuesta.extra == 'RADIO-CMB'">

    <div class="my-3">

        <div class="form-group">

            <div class="ml-4 ">

                <select class="custom-select select-250px" name="" id="" [value]="detalle.respuesta" [required]="true"
                    (change)="respuesta($event.target.value, detalle)">
                    <option value="{{item.descripcion}}"
                        *ngFor="let item of detalle.pregunta.tipoRespuesta.parametroSet">
                        {{item.descripcion}}
                    </option>
                </select>

            </div>

        </div>
        <!--OPCION MULTIPLE CHECK-BOX-->
    </div>

</div>

<div *ngIf="detalle.pregunta.tipoRespuesta.extra == 'CMB'">

    <div class="ml-lg-4 my-3">

        <select class="custom-select select-250px" name="" id="{{detalle.id}}"
            (change)="respuesta($event.target.value, detalle)" [value]="detalle.respuesta">
            <option value="Muy Buena">Muy Buena</option>
            <option value="Buena">Buena</option>
            <option value="Regular">Regular</option>
            <option value="Mala">Mala</option>
            <option value="Muy Mala">Muy Mala</option>
        </select>
    </div>
</div>

<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'FECHA'">

    <div class="ml-4 my-3">
        <input class="form-control" type="date" [value]="detalle.respuesta"
            (change)="respuesta($event.target.value, detalle)">
    </div>
</div>


<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'PORCENTAJE'">

    <div class="ml-4 my-3">
        <input class="form-control select-80px" type="number" [value]="detalle.respuesta" min="1" max="100"
            (change)="respuesta($event.target.value, detalle)">
    </div>
</div>


<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'ABIERTA'">

    <div class="ml-lg-4 my-3">

        <input class="form-control " type="text" [value]="detalle.respuesta"
            (change)="respuesta($event.target.value, detalle)">
    </div>
</div>

<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'EDAD'">

    <div class="ml-lg-4 my-3">

        <input class="form-control " type="number" min="1" max="120" [value]="detalle.respuesta"
            (change)="respuesta($event.target.value, detalle)">
    </div>
</div>


<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'MESES'">

    <div class="ml-lg-4 my-3">
        <label for="">
            <input class="form-control select-120px" type="number" [value]="detalle.respuesta" min="1" max="9"
                (change)="respuesta($event.target.value, detalle)" placeholder="Meses">
        </label>
    </div>
</div>


<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'CARNET CONADIS'">

    <div class="ml-lg-4 my-3">
        <label for="">
            <input class="form-control select-120px" type="text" [value]="detalle.respuesta" min="1" max="9"
                #carnet="ngModel" [(ngModel)]="detalle.respuesta" (change)="respuesta($event.target.value, detalle)">
        </label>
        <p class="error-input" *ngIf="carnet.hasError('required') && carnet.touched">Este es
            un campo requerido!!</p>
    </div>
</div>


<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'SI - NO'">
    <div class="ml-lg-4 my-3">
        <select class="custom-select select-250px" name="" id="{{detalle.id}}"
            (change)="respuesta($event.target.value, detalle)" [value]="detalle.respuesta">
            <option value="SI">SI</option>
            <option value="NO">NO</option>
        </select>


    </div>
</div>


<div *ngIf="detalle.pregunta.tipoRespuesta.extra == 'DIAGNOSTICO'">
    <app-diagnostico-familiar [diagnosticos]="detalle.detallediagnosticoSet"></app-diagnostico-familiar>
</div>