<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'SI-NO'">

    <div class="ml-lg-4 my-3">

        <h6 class="text-dark">{{detalle.pregunta.pregunta}} </h6>
        <select class="custom-select select-80px" name="" id="{{detalle.id}}">

            <option [value]="detalle.id" disabled>{{detalle.respuesta}}</option>
            <option value="SI">SI</option>
            <option value="NO">NO</option>

        </select>
    </div>
</div>

<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'MESES'">

    <div class="ml-lg-4 my-3">

        <h6 class="text-dark">{{detalle.pregunta.pregunta}}
        </h6>
        <input class="form-control select-80px" type="number" value="{{detalle.respuesta}}" min="1" max="12">
    </div>
</div>

<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'ABIERTA'">

    <div class="ml-lg-4 my-3">

        <h6 class="text-dark">{{detalle.pregunta.pregunta}}</h6>
        <input class="form-control " type="text" value="{{detalle.respuesta}}">
    </div>
</div>

<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'PORCENTAJE'">

    <div class="ml-lg-4 my-3">

        <h6 class="text-dark">{{detalle.pregunta.pregunta}} </h6>
        <input class="form-control select-80px" type="number" value="{{detalle.respuesta}}" min="1" max="100">

    </div>
</div>

<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'FECHA'">

    <div class="ml-lg-4 my-3">

        <h6 class="text-dark">{{detalle.pregunta.pregunta}} </h6>
        <input class="form-control" type="date" value="{{detalle.respuesta}}">
    </div>
</div>



<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'SELECCION MULTIPLE'">

    <div class="ml-lg-4 my-3">

        <h6 class="text-dark">{{detalle.pregunta.pregunta}} </h6>


        <div class="form-group">

            <div class="ml-4 " *ngFor="let parametro of parametros">

                <small id="helpId" class="form-check">
                    <input type="checkbox" class="form-check-input" name="" id="">
                    {{parametro.descripcion}}
                </small>

            </div>

        </div>
        <!--OPCION MULTIPLE-->
    </div>
</div>


<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'MUY-MALA A MUY-BUENA'">

    <div class="ml-lg-4 my-3">

        <h6 class="text-dark">{{detalle.pregunta.pregunta}}

            <select class="custom-select select-120px" name="" id="">

                <option [value]="detalle.id" disabled>{{detalle.respuesta}}</option>
                <option value="">Muy Buena</option>
                <option value="">Buena</option>
                <option value="">Regular</option>
                <option value="">Mala</option>
                <option value="">Muy Mala</option>
            </select>

        </h6>

    </div>
</div>