<h6>{{detalle.pregunta.numero}}. {{detalle.pregunta.titulo}}</h6>

<div *ngIf="detalle.pregunta.tipoRespuesta.extra == 'CHECK'">

    <div class="my-3">
        <div class="row">
            <div class="form-group col-12 col-md-6">

                <div class="ml-4" *ngFor="let parametro of detalle.pregunta.tipoRespuesta.parametroSet">

                    <small id="helpId" class="form-check">
                        <input type="checkbox" class="form-check-input" name="" id="{{parametro.id}}"
                            (change)="check(parametro)">
                        {{parametro.descripcion}}
                    </small>

                </div>

            </div>
            <!--OPCION MULTIPLE CHECK-BOX-->
            <app-parametros-persona></app-parametros-persona>
        </div>

    </div>

</div>

<div *ngIf="detalle.pregunta.tipoRespuesta.extra == 'RADIO'">

    <div class="my-3">

        <div class="form-group">

            <div class="ml-4 " *ngFor="let parametro of detalle.pregunta.tipoRespuesta.parametroSet">

                <small id="helpId" class="form-check">
                    <input type="radio" class="form-check-input" name="{{detalle.pregunta.titulo}}" id="">
                    {{parametro.descripcion}}
                </small>

            </div>

        </div>
        <!--OPCION MULTIPLE CHECK-BOX-->
    </div>

</div>

<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'MUY-MALA<>MALA<>REGULAR<>BUENA<>MUY BUENA'">

    <div class="ml-lg-4 my-3">

        <select class="custom-select select-120px" name="" id="">

            <option [value]="detalle.id" disabled>{{detalle.respuesta}}</option>
            <option value="">Muy Buena</option>
            <option value="">Buena</option>
            <option value="">Regular</option>
            <option value="">Mala</option>
            <option value="">Muy Mala</option>
        </select>

    </div>
</div>

<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'FECHA'">

    <div class="ml-lg-4 my-3">
        <input class="form-control" type="date" value="{{detalle.respuesta}}">
    </div>
</div>


<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'PORCENTAJE'">

    <div class="ml-lg-4 my-3">
        <input class="form-control select-80px" type="number" value="{{detalle.respuesta}}" min="1" max="100">
    </div>
</div>


<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'ABIERTA'">

    <div class="ml-lg-4 my-3">

        <input class="form-control " type="text" value="{{detalle.respuesta}}">
    </div>
</div>


<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'MESES'">

    <div class="ml-lg-4 my-3">
        <input class="form-control select-80px" type="number" value="{{detalle.respuesta}}" min="1" max="12">
    </div>
</div>


<div *ngIf="detalle.pregunta.tipoRespuesta.nombre == 'SI - NO'">
    <div class="ml-lg-4 my-3">
        <select class="custom-select select-80px" name="" id="{{detalle.id}}"
            (change)="SiNo($event.target.value, detalle)">

            <option [value]="detalle.id" disabled>{{detalle.respuesta}}</option>
            <option value="SI">SI</option>
            <option value="NO">NO</option>

        </select>
    </div>
</div>