<div class="container">
    <form action="">
        <h3>Seleccione Detalle Calendario a Modificar</h3>
        <br><br>
        <div class="row">
            <div class="col-md-8">
                <label for="" class="font-weight-bold">Acción: </label>
                <select name="acciones" style="margin: 5px;">
                    <option value="accion1">------------------------------</option>
                    <option value="accion2">Accion</option>
                    <option value="accion3">Accion</option>
                </select>
                <button>Ejecutar</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-secondary my-2 my-sm-0">AGREGAR DETALLE CALENDARIO +</button>
            </div>
        </div>
        <br>
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FECHA INICIO</th>
                    <th>FECHA FIN</th>
                    <th>ACTIVO</th>
                    <th>CALENDARIO</th>
                    <th>EVENTO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>