<!-- <div class="container">

    <form action="">
        <h3>Agregar Detalle Calendario</h3>
        <br><br>
        <div class="row">
            <div class="col-md-6 font-weight-bold">
                Fecha Inicio:
            </div>
            <div class="col-md-6">
                <label for="" class="font-weight-bold">Fecha:</label>
                <input style="margin: 5px;" type="date"><br>
                <label for="" class="font-weight-bold">Hora:</label>
                <input style="margin: 5px;" type="time">
            </div>
        </div>
        <hr>
        <br><br>
        <div class="row">
            <div class="col-md-6 font-weight-bold">
                Fecha Fin:
            </div>
            <div class="col-md-6">
                <label for="" class="font-weight-bold">Fecha:</label>
                <input style="margin: 5px;" type="date"><br>
                <label for="" class="font-weight-bold">Hora:</label>
                <input style="margin: 5px;" type="time">
            </div>
        </div>
        <hr>
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <label style="margin: 5px;" class="font-weight-bold" for="">Activo</label>
                <input type="checkbox" name="" id="">
            </div>

        </div>
        <hr>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <label for="" class="font-weight-bold">Calendario: </label>
            </div>
            <div class="col-md-8">
                <select name="calendario" style="margin: 5px;">
                            <option value="calendario1">------------------------</option>
                            <option value="calendario2">Accion</option>
                            <option value="calendario3">Accion</option>
                        </select>
            </div>


        </div>
        <hr>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <label for="" class="font-weight-bold">Evento: </label>
            </div>
            <div class="col-md-8">
                <select name="evento-cal" style="margin: 5px;">
                            <option value="evento-cal1">------------------------</option>
                            <option value="evento-cal2">Accion</option>
                            <option value="evento-cal3">Accion</option>
                    </select>
            </div>


        </div>
        <hr>
        <br><br>
        <div class="row" style="position: left;">
            <button class="btn btn-primary" style="margin: 5px;">Guardar y agregar otro</button>
            <button class="btn btn-primary" style="margin: 5px;">Guardar y seguir editando</button>
            <button class="btn btn-primary" style="margin: 5px;">GUARDAR</button>
        </div>
    </form>
</div> -->


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">

            <h1 class="text-center mb-2">CREAR EVENTOS PARA EL CALENDARIO</h1>

            <form #form="ngForm">

                <div class="form-group">
                    <label for="fechaInicioIn">Fecha de Inicio del Evento:</label>
                    <input required type="datetime-local" name="fechaInicioIn" class="form-control"
                        aria-describedby="helpId" [(ngModel)]="detalleCal.fechaInicio">
                    <!-- <small id="helpId" class="text-muted">Help text</small> -->
                </div>

                <div class="form-group">
                    <label for="fechaInicioIn">Fecha de Fin del Evento:</label>
                    <input required type="datetime-local" name="fechaFinIn" class="form-control"
                        aria-describedby="helpId" [(ngModel)]="detalleCal.fechaFin">
                    <!-- <small id="helpId" class="text-muted">Help text</small> -->
                </div>



                <div class="form-group">
                    <label for="">Seleccione el Evento</label>
                    <select required class="custom-select custom-select-sm" name="eventoSelect" [(ngModel)]="evento.id">
                        <option [value]="evento.id" *ngFor="let evento of eventos">{{evento.titulo}}</option>
                    </select>
                </div>

                <div class="form-row justify-content-center text-center">

                    <div class="col-md-5 mb-2">
                        <button class="btn btn-info" (click)="guardar('')" [disabled]="form.invalid">Guardar Y Agregar
                            Otro</button>
                    </div>

                    <div class="col-md-5">
                        <button class="btn btn-info" (click)="guardar(null)" [disabled]="form.invalid">Guardar</button>
                    </div>

                </div>


            </form>




        </div>
    </div>
</div>