<div class="container">
    <form action="">
        <h3>Agregar Detalle Calendario</h3>
        <br><br>
        <div class="row">
            <div class="col-md-6 font-weight-bold">
                Fecha Inicio:
            </div>
            <div class="col-md-6">
                <label for="" class="font-weight-bold">Fecha:</label>
                <input style="margin: 5px;" type="date"><br>
                <label for="" class="font-weight-bold">Hora:</label>
                <input style="margin: 5px;" type="time">
            </div>
        </div>
        <hr>
        <br><br>
        <div class="row">
            <div class="col-md-6 font-weight-bold">
                Fecha Fin:
            </div>
            <div class="col-md-6">
                <label for="" class="font-weight-bold">Fecha:</label>
                <input style="margin: 5px;" type="date"><br>
                <label for="" class="font-weight-bold">Hora:</label>
                <input style="margin: 5px;" type="time">
            </div>
        </div>
        <hr>
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <label style="margin: 5px;" class="font-weight-bold" for="">Activo</label>
                <input type="checkbox" name="" id="">
            </div>

        </div>
        <hr>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <label for="" class="font-weight-bold">Calendario: </label>
            </div>
            <div class="col-md-8">
                <select name="calendario" style="margin: 5px;">
                            <option value="calendario1">------------------------</option>
                            <option value="calendario2">Accion</option>
                            <option value="calendario3">Accion</option>
                        </select>
            </div>


        </div>
        <hr>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <label for="" class="font-weight-bold">Evento: </label>
            </div>
            <div class="col-md-8">
                <select name="evento-cal" style="margin: 5px;">
                            <option value="evento-cal1">------------------------</option>
                            <option value="evento-cal2">Accion</option>
                            <option value="evento-cal3">Accion</option>
                    </select>
            </div>


        </div>
        <hr>
        <br><br>
        <div class="row" style="position: left;">
            <button class="btn btn-primary" style="margin: 5px;">Guardar y agregar otro</button>
            <button class="btn btn-primary" style="margin: 5px;">Guardar y seguir editando</button>
            <button class="btn btn-primary" style="margin: 5px;">GUARDAR</button>
        </div>
    </form>
</div>