<div class="row justify-content-center mb-5">

    <div class="col-12 col-md-11 mt-2 mt-sm-3">

        <div class="card">


            <div class="card-header text-center bg-ista text-white">

                <h5>{{seccion.seccionNombre.nombre}}</h5>

            </div>
            <!--DIV CARD-HEADER-->

            <div class="card-body border border-dark">

                <div *ngFor="let detalle of seccion.detallerespuestaSet">
                    <app-pregunta [detalle]="detalle"></app-pregunta>
                </div>



            </div>
            <!--DIV CARD BODY-->



        </div>
        <!--DIV CARD-->






    </div>

</div>