<nav class="navbar navbar-expand-lg navbar-light bg-light border">

    <a class="navbar-brand" routerLink="/dash">
        <img class="img-fluid mb-1" src="../../../assets/img/icon.ico" alt="" width="16">
        INICIO
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/fichas" routerLinkActive="active">Fichas</a>
            </li>
        </ul>


        <form class="form-inline">
            <button class="btn btn-outline-info" (click)="Login()">Cerrar Sesion</button>
        </form>
    </div>
</nav>

<router-outlet></router-outlet>