<div class="main" id="contenido">
    <div class="div">
        <!-- LOGOS  -->


        <div class="margin">


            <img class="imgIzquierda" src="assets/img2/logos.png" alt="LOGO">
            <img class="imgDerecha" src="assets/img2/logo.png" alt="LOGO 2">

            <h5>INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY <br> CARRERA TECNOLOGIA SUPERIOR EN DESARROLO DE SOFTWARE
                <br>CALENDARIO DE ACTIVIDADES <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PERÍODO ACADÉMICO MAYO - OCTUBRE 2019 </h5> <br>

        </div>




    </div>
    <table style="width: 100%;">
        <thead>

            <tr>
                <th>Mes</th>
                <th># Semanas</th>
                <th>L</th>
                <th>M</th>
                <th>M</th>
                <th>J</th>
                <th>V</th>
                <th>S</th>
                <th># Dias L-V</th>
                <th># Dias L-S</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="8">Mayo</td>
                <td><br></td>
                <td>29<br></td>
                <td>30<br></td>
                <td>1<br></td>
                <td>2<br></td>
                <td class="amarillo">3<br></td>
                <td>4<br></td>
                <td><br></td>
                <td><br></td>
                <td class="amarillo">3. Feriado por Dia del Trabajo</td>
            </tr>
            <tr>
                <td><br></td>
                <td>6<br></td>
                <td class="celeste">7<br></td>
                <td class="marron">8<br></td>
                <td>9<br></td>
                <td>10<br></td>
                <td>11<br></td>
                <td><br></td>
                <td><br></td>
                <td class="celeste">7. Capacitación a docentes nuevos sobre el uso de la plataforma Moodle, organizacion a cargo de coordinadores de carreras.</td>
            </tr>
            <tr>
                <td><br></td>
                <td class="rosado">13<br></td>
                <td class="rosado">14<br></td>
                <td class="rosado">15<br></td>
                <td class="marron">16<br></td>
                <td class="rosado">17<br></td>
                <td>18<br></td>
                <td><br></td>
                <td><br></td>
                <td class="marron">8. Entrega a coordinadores de carreras de silabos, planes de clases (unidad uno), programas analiticos, módulos (primera revisión para correcciones)</td>
            </tr>
            <tr>
                <td><br></td>
                <td class="rosado">20<br></td>
                <td class="marron">21<br></td>
                <td class="purpura">22<br></td>
                <td class="rosado">23<br></td>
                <td class="amarillo">24<br></td>
                <td>25<br></td>
                <td><br></td>
                <td><br></td>
                <td class="marron">16. Entrega a coordinadores de carreras de silabos, planes de clases (unidad uno),programas analiticos, módulos, revisados y corregidos 21. entrega de silabos, planes de clases, programas analiticos, módulos, al Vicerrectorado Académico.
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td class="durazno">27<br></td>
                <td>28<br></td>
                <td>29<br></td>
                <td>30<br></td>
                <td>31<br></td>
                <td> <br></td>
                <td><br></td>
                <td><br></td>
                <td class="durazno">27. Inaguracion del periodo academico. Socializacion Uidad de Bienestar sobre derechos y obligaciones de la comunidad educativa (3 espacios diferentes)</td>
            </tr>
            <tr>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td class="amarillo">24. Feriado batalla del pichincha</td>
            </tr>
            <tr>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td class="rosado">13-23 Nivelación de Estudiantes</td>
            </tr>
            <tr>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td class="purpura">22. Reunion de Carrera</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="main">

    <button (click)="generarPDF()" class="btn btn-outline-secondary">Download</button>
</div>