.hover:hover {
    background-color: darkcyan;
    transition-duration: 1s;
    transition-delay: 10ms;
    opacity: 100;
}

.mt-100 {
    margin-top: 100px;
}

.bg-ista {
    background-color: #0c3168;
}

.select-80px {
    width: 80px;
}

.select-120px {
    width: 120px;
}

.select-250px {
    width: 250px;
}

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
.input-err-12 {
    color: #aa0e0e;
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold
}