<style>
    .mt-100 {
        margin-top: 100px;
    }

    .bg-ista {
        background-color: #0c3168;
    }

    .select-80px {
        width: 80px;
    }

    .select-120px {
        width: 120px;
    }

    .select-250px {
        width: 250px;
    }
</style>


<div class="row justify-content-center mb-5">

    <div class="col-12 mt-2 mt-sm-3">

        <div class="card">


            <div class="card-header text-center bg-facebook text-white">

                <h5>{{seccion.seccionNombre.nombre}}</h5>

            </div>
            <!--DIV CARD-HEADER-->

            <div class="card-body border border-dark">

                <div *ngFor="let detalle of seccion.detallerespuestaSet">
                    <app-pregunta [detalle]="detalle"></app-pregunta>
                </div>



            </div>
            <!--DIV CARD BODY-->



        </div>
        <!--DIV CARD-->






    </div>

</div>