.hover:hover {
    background-color: darkcyan;
    transition-duration: 1s;
    transition-delay: 10ms;
    opacity: 100;
}

.mt-100 {
    margin-top: 100px;
}

.bg-ista {
    background-color: #0c3168;
    color: white;
}

.btn-ista {
    background-color: #0c3168;
    color: white;
}

.btn-ista:hover {
    color: white;
    font-weight: bold;
}

.select-80px {
    width: 80px;
}

.select-120px {
    width: 120px;
}

.select-250px {
    width: 250px;
}

.hov-pointer:hover {
    cursor: pointer;
}

.hov-item:hover {
    border: solid;
    border-color: #0c31689c;
    transition-duration: 0.3s;
    transition-delay: 10ms;
    opacity: 100;
}